<% layout('admin/layouts/boilerplate') -%>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Orders</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">orders</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <br>
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title">All Order</h4>
                                    <a href="add-order.html" type="button"
                                        class="btn btn-success waves-effect waves-light">
                                        Add new <i class="ri-arrow-right-line align-middle ms-2"></i>
                                    </a>
                                </div>

                                <br>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#Order ID</th>
                                            <th>#Vehicle ID</th>
                                            <th>Vehicle Name</th>
                                            <th>#User Id</th>
                                            <th>User Name</th>
                                            <th>Price</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <tr>
                                            <td>or001</td>
                                            <td>vec001</td>
                                            <td>Honda Dio</td>
                                            <td>user004</td>
                                            <td>Atanu Datta</td>
                                            <td>40000</td>
                                            <td>10/11/2023</td>
                                            <td>Panding</td>
                                            <td>
                                                <a href="edit-order.html" type="button"
                                                    class="btn btn-primary btn-sm"><i class="ri-pencil-line"></i></a>
                                                <button type="button" class="btn btn-danger btn-sm"><i
                                                        class="ri-delete-bin-7-line"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>or002</td>
                                            <td>vec009</td>
                                            <td>Honda Activa</td>
                                            <td>user001</td>
                                            <td>Subham Debnath</td>
                                            <td>55000</td>
                                            <td>07/09/2023</td>
                                            <td>Delivered</td>
                                            <td>
                                                <a href="edit-order.html" type="button"
                                                    class="btn btn-primary btn-sm"><i class="ri-pencil-line"></i></a>
                                                <button type="button" class="btn btn-danger btn-sm"><i
                                                        class="ri-delete-bin-7-line"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->



            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



    </div>
    <!-- end main content-->