<% layout('user/layouts/boilerplate') -%>

    <!-- --------------------------------- shop section ------------------------------------- -->

    <section class="section shop-sec">
        <div class="full-con">
            <div class="breadcrumb">
                <a href="index.ejs">Home</a>
                <img src="/user/icons/slash.png" alt="">
                <a class="active" href="contact-us.ejs">Contact us</a>
            </div>
            <div class="basic-page">
                <h2 class="page-title">Contact Us</h2>
                <div class="basic-grid">
                    <div class="left">
                        <div class="map">
                            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                                <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                                <script>(function () {
                                        var setting = { "query": "Agartala, Tripura, India", "height": 516, "satellite": false, "zoom": 12, "placeId": "ChIJpyNByQ30UzcRx8hAbDwmodA", "cid": "0xd0a1263c6c40c8c7", "coords": [23.831457, 91.2867777], "lang": "en", "queryString": "Agartala, Tripura, India", "centerCoord": [23.831457, 91.2867777], "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3", "embed_id": "1026721" };
                                        var d = document;
                                        var s = d.createElement('script');
                                        s.src = 'https://1map.com/js/script-for-user.js?embed_id=1026721';
                                        s.async = true;
                                        s.onload = function (e) {
                                            window.OneMap.initMap(setting)
                                        };
                                        var to = d.getElementsByTagName('script')[0];
                                        to.parentNode.insertBefore(s, to);
                                    })();</script><a href="https://1map.com/map-embed">1 Map</a>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <form action="">
                            <input type="text" name="Date" id="Date" class="automatic-d" readonly>
                            <script>
                                const date = new Date();

                                let day = date.getDate();
                                let month = date.getMonth() + 1;
                                let year = date.getFullYear();

                                // This arrangement can be altered based on how we want the date's format to appear.
                                let currentDate = `${day}-${month}-${year}`;
                                document.getElementById('Date').value = currentDate;

                            </script>
                            <input type="text" name="" id="" placeholder="Enter full name" required>
                            <input type="tel" name="" id="" placeholder="Enter phone number" required>
                            <input type="email" name="" id="" placeholder="Enter email Id" required>
                            <label for="message">Message</label>
                            <textarea name="" id="message" cols="20" rows="10" required></textarea>

                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- --------------------------------- footer Section ------------------------------------- -->




    <script src="js/script.js"></script>
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
    </body>

    </html>