<% layout('user/layouts/boilerplate') -%>


    <!-- --------------------------------- shop section ------------------------------------- -->

    <section class="section shop-sec">
        <div class="full-con">
            <div class="breadcrumb">
                <a href="/">Home</a>
                <img src="/user/icons/slash.png" alt="">
                <a class="active" href="/order">Orders</a>
            </div>
            <div class="basic-page">
                <h2 class="page-title">Orders</h2>
                <div class="order-profile-grid">
                    <div class="setting-grid">
                        <div class="setting-box">
                            <div class="setting-details">
                                <div class="profile-img">
                                    <img src="/user/icons/dummy.jpg" alt="">
                                </div>
                                <h6>
                                    <%= currentUser.displayName %>
                                </h6>
                                <p>
                                    <%= currentUser.phoneNumber %>
                                </p>
                                <p>
                                    <%= currentUser.email %>
                                </p>
                            </div>
                            <div class="setting-menu">
                                <ul>
                                    <a href="/order">
                                        <li class="active">
                                            <div class="left">
                                                <img src="/user/icons/package.png" alt="">
                                                <p>My Orders</p>
                                            </div>
                                            <div class="right"><img src="/user/icons/chevron.png" alt=""></div>
                                        </li>
                                    </a>
                                    <a href="/shortlist">
                                        <li>
                                            <div class="left">
                                                <img src="/user/icons/wishlist.png" alt="">
                                                <p>Shortlisted Vehicles</p>
                                            </div>
                                            <div class="right"><img src="/user/icons/chevron.png" alt=""></div>
                                        </li>
                                    </a>
                                    <a href="/profile">
                                        <li>
                                            <div class="left">
                                                <img src="/user/icons/settings.png" alt="">
                                                <p>Profile Settings</p>
                                            </div>
                                            <div class="right"><img src="/user/icons/chevron.png" alt=""></div>
                                        </li>
                                    </a>
                                </ul>

                            </div>
                            <div class="logout-box">
                                <a href="/logout"><button>Logout</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="shortlist-body shortlist-body2">
                        <div class="product-grid">
                            <div class="left">
                                <img src="product/bike2.webp" alt="">
                            </div>
                            <div class="right">
                                <h2>Royal Enfield Classic 350</h2>
                                <h6>2015 16 Model</h6>
                                <p class="price">&#8377; 1,20,000</p>
                                <ul>
                                    <li>34,580 KM</li>
                                    <li class="center">2017</li>
                                    <li>Petrol</li>
                                </ul>
                                <h5>Order Status: <span>Panding</span></h5>
                            </div>
                        </div>
                        <div class="product-grid">
                            <div class="left">
                                <img src="product/bike2.webp" alt="">
                            </div>
                            <div class="right">
                                <h2>Royal Enfield Classic 350</h2>
                                <h6>2015 16 Model</h6>
                                <p class="price">&#8377; 1,20,000</p>
                                <ul>
                                    <li>34,580 KM</li>
                                    <li class="center">2017</li>
                                    <li>Petrol</li>
                                </ul>
                                <h5>Order Status: <span>Delivered</span></h5>
                            </div>
                        </div>
                        <div class="product-grid">
                            <div class="left">
                                <img src="product/bike2.webp" alt="">
                            </div>
                            <div class="right">
                                <h2>Royal Enfield Classic 350</h2>
                                <h6>2015 16 Model</h6>
                                <p class="price">&#8377; 1,20,000</p>
                                <ul>
                                    <li>34,580 KM</li>
                                    <li class="center">2017</li>
                                    <li>Petrol</li>
                                </ul>
                                <h5>Order Status: <span>Delivered</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>




    <script src="js/script.js"></script>
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
    </body>

    </html>