<!-- --------------------------------- footer menu ------------------------------------- -->
<footer>
    <div class="subscribe-sec">
        <div class="full-con">
            <div class="subscribe">
                <h2>Get the latest updates!</h2>
                <p>Subscribe to our newsletter and stay updated on the letest developments.</p>
                <form action="">
                    <input type="email" name="" id="" placeholder="Enter your email">
                    <input type="submit" value="Subscribe">
                </form>

            </div>
        </div>
    </div>
    <!-- --------------------------------- footer Section ------------------------------------- -->
    <div class="footer-main">
        <div class="full-con">
            <div class="foot-grid">
                <div class="foot-menu">
                    <h6>OVERVIEW</h6>
                    <ul>
                        <a href="#">
                            <li>About us</li>
                        </a>
                        <a href="#">
                            <li>Privacy Policy</li>
                        </a>
                        <a href="#">
                            <li>Terms & Conditions</li>
                        </a>
                        <a href="#">
                            <li>Customer Policy</li>
                        </a>
                        <a href="#">
                            <li>Investors</li>
                        </a>
                    </ul>
                </div>
                <div class="foot-menu">
                    <h6>SHOP</h6>
                    <ul>
                        <a href="#">
                            <li>Cars</li>
                        </a>
                        <a href="#">
                            <li>Motorcycles</li>
                        </a>
                        <a href="#">
                            <li>Scooters</li>
                        </a>
                        <a href="#">
                            <li>All cars & bikes</li>
                        </a>
                    </ul>
                </div>
                <div class="foot-menu">
                    <h6>CONNECT WITH US</h6>
                    <ul>
                        <a href="#">
                            <li>contact@dxc.com</li>
                        </a>
                        <a href="#">
                            <li>9862164523</li>
                        </a>
                        <a href="contact-us.ejs">
                            <li>Contact us</li>
                        </a>
                    </ul>
                </div>
                <div class="foot-about">
                    <div class="logo">
                        <div class="logo-icon">
                            <img src="/user/logo/logo.png" alt="">
                        </div>
                        <div class="logo-text">
                            <h1>Dream X Car & Bike Sale</h1>
                            <h4>Chase your Dream's</h4>
                        </div>

                    </div>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                        piece
                        of classical Latin literature from 45 BC, making it over 2000 years old.
                    </p>
                    <h5>Follow us</h5>
                    <div class="social-logo">
                        <a href="#">
                            <div class="logo">
                                <img src="/user/icons/fb.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="logo">
                                <img src="/user/icons/insta.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="logo">
                                <img src="/user/icons/youtube.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="logo">
                                <img src="/user/icons/twitter.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="foot-bottom">
        <div class="full-con">
            <div class="foot-bottom-grid">
                <div>
                    <p>&copy; <span id="year"></span> Dream X Car & Bike Sale.</p>
                </div>
                <div>
                    <p>Designe & Developed by </p>
                </div>
            </div>
        </div>
    </div>

</footer>