<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream-x</title>
    <link rel="stylesheet" href="/user/css/style.css">
    <link rel="stylesheet" href="/user/css/query.css">
    <script src="https://kit.fontawesome.com/4ebe883bff.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

        <div class="container">
            <%- body -%>
        </div>
        <%- include('../includes/footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

            <script src="/user/js/script.js"></script>
</body>

</html>