<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title id="page-title">
        <%= pageTitle %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/admin/assets/images/favicon.ico">

    <!-- jquery.vectormap css -->
    <link href="/admin/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
        type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/admin/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Bootstrap Css -->
    <link href="/admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="/admin/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />

    <!-- Lightbox css -->
    <link href="/admin/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="/admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">


                        <a href="/admin" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="/user/logo/logo.png" alt="logo-sm-light" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="/user/logo/logo.png" alt="logo-light" height="20">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="ri-menu-2-line align-middle"></i>
                    </button>

                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="ri-search-line"></span>
                        </div>
                    </form>


                </div>

                <div class="d-flex  p-3 m-t-3">



                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line"></i>
                        </button>
                    </div>

                    <!-- <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-notification-3-line"></i>
                            <span class="noti-dot"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0"> Notifications </h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small"> View All</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">
                                <a href="" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                <i class="ri-shopping-cart-line"></i>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-1">Your order is placed</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <img src="/admin/assets/images/users/avatar-3.jpg"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="flex-1">
                                            <h6 class="mb-1">James Lemire</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">It will seem like simplified English.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-success rounded-circle font-size-16">
                                                <i class="ri-checkbox-circle-line"></i>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-1">Your item is shipped</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a href="" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <img src="/admin/assets/images/users/avatar-4.jpg"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="flex-1">
                                            <h6 class="mb-1">Salena Layfield</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                        <i class="mdi mdi-arrow-right-circle me-1"></i> View More..
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <form action="/logout" method="get">
                            <button type="submit" class="btn  btn-danger p-3 header-item waves-effect">
                                Logout
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!-- User details -->
                <!-- <div class="user-profile text-center mt-3">
                        <div class="">
                            <img src="/admin/assets/images/users/avatar-1.jpg" alt="" class="avatar-md rounded-circle">
                        </div>
                        <div class="mt-3">
                            <h4 class="font-size-16 mb-1">Julia Hudda</h4>
                            <span class="text-muted"><i class="ri-record-circle-line align-middle font-size-14 text-success"></i> Online</span>
                        </div>
                    </div> -->

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="/admin" class="waves-effect">
                                <i class="ri-dashboard-line"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class=" ri-e-bike-line "></i>
                                <span>Vehicles</span>

                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/admin/vehicle">
                                        <i class="ri-checkbox-blank-circle-line"></i>View</a></li>
                                <li><a href="/admin/add_vehicle">
                                        <i class="ri-checkbox-blank-circle-line"></i>Add</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="ri-shopping-bag-line"></i>
                                <span>Orders</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/admin/order">
                                        <i class="ri-checkbox-blank-circle-line"></i>View</a></li>
                                <li><a href="/admin/add_order">
                                        <i class="ri-checkbox-blank-circle-line"></i>Add</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/seller_admin" class=" waves-effect">
                                <i class=" ri-wallet-line "></i>
                                <span>Seller</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/category" class=" waves-effect">
                                <i class=" ri-stack-line "></i>
                                <span>Category</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/brands" class=" waves-effect">
                                <i class="ri-award-line"></i>
                                <span>Brands</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/body_type" class=" waves-effect">
                                <i class="ri-car-line"></i>
                                <span>Body Type</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/banner" class=" waves-effect">
                                <i class="ri-image-line"></i>
                                <span>Banner</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user" class=" waves-effect">
                                <i class="ri-group-line"></i>
                                <span>Users</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->


        <%- include('../includes/flash.ejs') %>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <%- body -%>
                <!-- end main content-->


                <!-- END layout-wrapper -->


    </div>
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="/admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/assets/libs/node-waves/waves.min.js"></script>
    <script src="/admin/assets/libs/jquery/jquery.min.js"></script>


    <!-- apexcharts -->
    <script src="/admin/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- jquery.vectormap map -->
    <script src="/admin/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/admin/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>

    <!-- Required datatable js -->
    <script src="/admin/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="/admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="/admin/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="/admin/assets/js/app.js"></script>

    <!-- Chart JS -->
    <script src="/admin/assets/libs/chart.js/Chart.bundle.min.js"></script>
    <script src="/admin/assets/js/pages/chartjs.init.js"></script>
    <!-- JAVASCRIPT -->
    <script src="/admin/assets/libs/jquery/jquery.min.js"></script>
    <script src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/assets/libs/node-waves/waves.min.js"></script>

    <!-- Required datatable js -->
    <script src="/admin/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/admin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/admin/assets/libs/jszip/jszip.min.js"></script>
    <script src="/admin/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="/admin/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="/admin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <script src="/admin/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

    <!-- Responsive examples -->
    <script src="/admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="/admin/assets/js/pages/datatables.init.js"></script>

    <script src="/admin/assets/js/app.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const addButtons = document.querySelectorAll(".addImageField");
            const imageFieldsContainer = document.getElementById("imageFieldsContainer");
            const wordList = ['Two', 'Three', 'Four'];

            addButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    if (imageFieldsContainer.children.length < 3) {
                        const newInputContainer = document.createElement("div");
                        newInputContainer.className = "col-md-6 mb-3";

                        const newInput = document.createElement("input");
                        newInput.type = "file";
                        newInput.name = "moreImages";
                        newInput.className = "form-control mt-2";
                        newInput.setAttribute("multiple", "");
                        newInput.placeholder = `Image ${wordList.shift()}`;

                        const removeButton = document.createElement("button");
                        removeButton.type = "button";
                        removeButton.className = "btn btn-danger removeImageField ml-2";
                        removeButton.textContent = "Remove";
                        removeButton.addEventListener("click", function () {
                            imageFieldsContainer.removeChild(newInputContainer);
                        });

                        newInputContainer.appendChild(newInput);
                        newInputContainer.appendChild(removeButton);
                        imageFieldsContainer.appendChild(newInputContainer);
                    } else {
                        alert("Maximum of 4 images allowed");
                    }
                });
            });
        });
        async function deleteListing(listingId) {
            // Confirm the deletion
            if (confirm("Are you sure you want to delete this listing?")) {
                try {
                    // Make an AJAX request to delete the listing
                    const response = await fetch(`/admin/delete/${listingId}`, {
                        method: 'post',
                    });

                    // Handle the response from the server
                    const data = await response.json();

                    if (data.success) {
                        // If the deletion is successful, you may want to update the UI
                        // For example, remove the corresponding row from the table
                        const rowToDelete = document.querySelector(`tr[data-listing-id="${listingId}"]`);
                        console.log('Row to delete:', rowToDelete);

                        if (rowToDelete) {
                            rowToDelete.remove();
                            console.log('Row removed successfully.');
                        }
                        alert("Successfully delete your data.");
                    } else {
                        // Handle the case where the deletion fails
                        alert("Failed to delete the listing. Please try again.");
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert("An error occurred while trying to delete the listing.");
                }
            }
        }
        // Example: Dynamically change the title based on the page content
        document.addEventListener("DOMContentLoaded", function () {
            var pageTitle = document.getElementById("page-title");

            // Replace "New Title" with the desired title for the current page
            var newTitle = "New Title";
            pageTitle.innerText = newTitle;

            // Update the document.title property
            document.title = newTitle;
        });
    </script>
</body>

</html>